@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --BgClrMain: #ECF8F8;
  --TxtClrMain: #202A25;
  --BgClrEnds: #84929b;
  --LnkClrLng: #41521F;
  --BlkClrTst: #41521F;
  }

body {
    background-color: var(--BgClrMain);
    color: var (--TxtClrMain);
    font-family: "Raleway", sans-serif;
    max-width: 75%;
    margin: auto;
  }

  header, footer {
      margin-top: 10px;
      background-color: var(--BgClrEnds);
      padding: 7px;
      border-radius: 4px;
  }

  header {
    margin-bottom: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--TxtClrMain);
  }

  p {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    color: var(--TxtClrMain);
  }

 /*link menu at the site top */
  
  #currmen, #currmen:visited {
     color: var(--BgClrMain); 
     background-color: var(--LnkClrLng);
     display: inline-block;
     border-radius: 8px;
  }

  a:link, a:visited {
    color: var(--LnkClrLng);
    text-decoration: none;
    padding: 4px;
  }

  .menu {
    display: flex;
    width: 100%;
    align-items: center;
  }

  footer {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 32px;
    vertical-align: auto;
    text-align: center;
    color: var(--LnkClrLng);
  }

  .err404 {
    display: flex; 
    flex-direction: row;
  }

  #img404 {
    width: 20%;
  }

 /*Adding a container and map*/

.mwrap {
  height: 80vh;
}

#map {
  width: 100%;
  height: 100%;
  z-index: 0;
}

/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px "Raleway", Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
  border-radius: 9px;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

button {
  background-color: var(--BgClrEnds);
  color: #ECF8F8;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 15px;
  height: 50px;
  }

#optionselect1, #optionselect2, #optionselect3 {
  vertical-align:middle;
  width: 200px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  height: 7ev;
}

#selmn {
  display: flex;
  flex-direction: column;
}

#selectors {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 850px) {
  #selectors {
    display: flex;
    flex-direction: column;
  }
}